@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important; */
}
/* #app {
  height: 100%;
} */

body,
html {
  /* height: 100%; */
  /* font-family: Helvetica, Arial, sans-serif; */
  font-family: "Roboto";
  overflow-x: hidden;
}
.body-content {
  position: relative;
  left: 110px;
  width: 100%;
  border: solid white;
}

@media screen and (max-width: 1440px) {
  .body-content {
    left: 100px;
    width: 80%;
  }
}
@media screen and (max-width: 1025px) {
  .body-content {
    left: 30px;
    width: 90%;
  }
}
@media screen and (max-width: 769px) {
  .body-content {
    width: 88%;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .body-content {
    left: 0;
    top: 80px;
    height: calc(100% + 220px);
  }
}
/*---------------------------------------------*/
a {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  color: #fc00ff;
  border-color: #fc00ff;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #555555;
}
input:-moz-placeholder {
  color: #555555;
}
input::-moz-placeholder {
  color: #555555;
}
input:-ms-input-placeholder {
  color: #555555;
}

textarea::-webkit-input-placeholder {
  color: #555555;
}
textarea:-moz-placeholder {
  color: #555555;
}
textarea::-moz-placeholder {
  color: #555555;
}
textarea:-ms-input-placeholder {
  color: #555555;
}

label {
  display: block;
  margin: 0;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-size: 16px;
  color: #555555;
  line-height: 1.5;
}

.txt2 {
  font-size: 14px;
  color: #999999;
  line-height: 1.5;
}

.bo1 {
  border-bottom: 1px solid #999999;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-main {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrap-login100 {
  width: 530px;
  background: #fff;
  border-radius: 10px;
  position: relative;
}

/*==================================================================
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  width: 100%;
  display: block;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
}

/*------------------------------------------------------------------
[ Button sign in with ]*/
.btn-face,
.btn-google {
  font-family: Montserrat-SemiBold;
  font-size: 18px;
  line-height: 1.2;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: calc((100% - 20px) / 2);
  height: 70px;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.btn-google::before,
.btn-face::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  background: #a64bf4;
  background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
  background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
  background: linear-gradient(45deg, #00dbde, #fc00ff);
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-face {
  color: #fff;
  background-color: #3b5998;
}

.btn-face i {
  font-size: 30px;
  margin-right: 17px;
  padding-bottom: 3px;
}

.btn-google {
  color: #555555;
  background-color: #fff;
}

.btn-google img {
  width: 30px;
  margin-right: 15px;
  padding-bottom: 3px;
}

.btn-face:hover:before,
.btn-google:hover:before {
  opacity: 1;
}

.btn-face:hover,
.btn-google:hover {
  color: #fff;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
}

.wrap-input100 input {
  background-color: #c4c4c4;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
}

/*---------------------------------------------*/
.input100 {
  color: #333333;
  line-height: 1.2;
  font-size: 18px;
  display: block;
  width: 100%;
  background: transparent;
  height: 50px;
  padding: 0 20px;
}
/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #fc00ff;
  border-radius: 10px;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.eff-focus-selection {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  background-color: #0750db;
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  font-weight: bold;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover:before {
  opacity: 1;
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 5px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;
  color: #c80000;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 18px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/*//////////////////////////////////////////////////////////////////
[ Responsive ]*/
@media (max-width: 768px) {
  .wrap-login100 {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 576px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .btn-face,
  .btn-google {
    width: 100%;
  }
}

/* - - - - - Header  - - - - - */
:root {
  --nav-header-height: 78px;
  --font-weight: 600;
  --font-weight-500: 500;
  --color-bg: #2962ff;
}

.header {
  display: none;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: var(--nav-header-height);
  border-bottom: solid lightgray;
  background-color: white;
}

.header-logo-image {
  position: absolute;
  height: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header .header-user {
  display: block;
  position: absolute;
  top: 20px;
  right: 0;
  width: 50px;
  height: 50px;
}
.header-user-image {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid gray 1px;
  transform: translateY(10%);
  z-index: 1;
}

.header .header-user .header-user-info {
  list-style-type: none;
  display: none;
  min-width: 140px;
  height: 124px;
  top: 50px;
  left: -95px;
  position: absolute;
  border: solid lightslategray;
  text-align: center;
  line-height: 40px;
  border-radius: 7px;
  padding: 0;
  font-size: 14px;
  background: white;
  color: black;
  font-weight: var(--font-weight-500);
  transition: ease-in-out 0.5s;
}
.user-emails {
  background-color: var(--color-bg);
  color: rgb(248, 248, 248);
}
.header .header-user .header-user-info::after {
  /* display: none; */
  content: "";
  width: 20px;
  height: auto;
  top: -17px;
  left: 100px;
  position: absolute;
  background-color: white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 0px solid transparent;
  border-bottom: 17px var(--color-bg) solid;
  padding: 0;
}
.header-user-info li:not(:first-child) {
  text-align: left;
  padding-left: 15px;
}
.header-user-info li:not(:first-child):hover {
  background-color: #e0f7fa;
  cursor: pointer;
}
.header .header-user:hover .header-user-info {
  display: block;
}

/* - - - - - Nav form  - - - - - */
.nav {
  z-index: 1;
  width: 270px;
  height: 100%;
  position: fixed;
  background: white;
  box-shadow: 0 0px 10px 4px rgb(204, 204, 204);
}
.uni-logo {
  height: 100px;
}
.navbar-logo-image {
  width: 80%;
  position: relative;
  top: 20px;
  height: 70px;
  left: 20px;
}
.nav-items {
  width: inherit;
  height: calc(100% - 110px);
  padding-left: 20px;
  position: relative;
  top: 10px;
}
.nav-item {
  height: 50px;
  width: 90%;
  margin: 0 6px;
  line-height: 50px;
  border-radius: 10px;
  color: #78909c;
  transition: ease 0.6s;
}
.nav-item:hover {
  background-color: #e3f2fd;
  cursor: pointer;
  color: #263238;
  font-weight: 500;
}

.user-shortcut {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  padding: 10px;
  background: #e0f7fa;
  border-top: solid rgb(224, 224, 224);
}
.user-shortcut:hover {
  cursor: pointer;
}
.user {
  display: flex;
  width: 100%;
  padding-left: 10px;
}
.user .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.user-avatar-info {
  margin-left: 20px;
}
.user-avatar-info span {
  display: block;
}
.user-avatar-info :nth-child(1) {
  font-weight: var(--font-weight);
}
.user-avatar-info :nth-child(2) {
  font-size: 14px;
  color: #4a585f;
}

/* .log-out{
  transform: translate(0,440px);
} */
.tooltiptext {
  visibility: hidden;
  position: relative;
  left: 75px;
  top: -45px;
  display: block;
  border-radius: 10px;
  width: 90px;
  height: 35px;
  line-height: 35px;
  background: black;
  color: rgb(240, 240, 240);
  font-size: 14px;
}
@media screen and (max-width: 1440px) {
  .nav {
    width: 240px;
  }
  .user-avatar-info .user-email {
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
@media screen and (max-width: 1025px) {
  .nav {
    width: 80px;
  }
  /* .nav-items {
    top: -20px;
  } */
  .nav-items span:not(.tooltiptext) {
    display: none;
  }
  .nav-item {
    margin: 10px 0 0 -10px;
    text-align: center;
    border-radius: 50%;
  }
  .nav-item:hover .tooltiptext {
    visibility: visible;
  }
  /* .user-shortcut {
    bottom: -54px;
  } */
  .user-shortcut:hover {
    cursor: pointer;
  }
  .uni-logo {
    height: 50px;
    margin: 20px 0 0 14px;
    width: 50px;
    background-image: url("../images/gre-symbol.jpeg");
    background-position: -100px 0;
    background-size: 100%;
  }
  .navbar-logo-image {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .uni-logo {
    display: none;
  }
  .header {
    display: block;
  }
  .user-shortcut {
    display: none;
  }
  .tooltiptext {
    display: none;
  }
  .nav {
    /* top: unset; */
    bottom: 0;
    left: auto;
    right: auto;
    padding-left: 0;
    width: 100%;
    height: 65px;
    z-index: 15;
  }
  .nav-items {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    justify-content: space-around;
    top: 1px;
    height: auto;
  }
  .nav-item {
    width: 100px;
    margin: 0;
    height: 40px;
    border-radius: 0%;
    display: inline-block;
  }
  .nav-item:hover {
    border-top: solid #42a5f5 5px;
    background: none;
  }
  .nav-item span:not(.tooltiptext) {
    top: -30px;
    height: 20px;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .log-out {
    display: none;
  }
}

.Topic-Modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.Topic-Modal-backdrop {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.Topic-Modal-header {
  position: absolute;
  width: 250px;
  height: 30px;
  left: calc(50% - 250px / 2);
  top: 20px;
  text-align: center;
}

.Topic-Modal-header p {
  font-size: 20px;
}

.Topic-Modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
  cursor: pointer;
  font-size: 20px;
}

.Topic-Modal-body {
  padding: 16px;
  margin-top: 55px;
}

.Topic-Modal-label {
  display: block;
  font-size: 15px;
  margin-bottom: 6px;
  margin-top: 10px;
  text-align: left;
  color: rgb(134, 133, 133);
  letter-spacing: 0.3px;
}

.Topic-Modal-input {
  border: 1px solid #ccc;
  background-color: #e0e0e0;
  border-radius: 7px;
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  font-size: 15px;
  margin-bottom: 10px;
}

.submit-add {
  background-color: #0750dc;
  border-radius: 7px;
  color: white;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  padding: 18px;
  border: none;
  height: 48px;
  line-height: 10px;
  margin-top: 10px;
}

.submit-add:hover {
  opacity: 0.8;
  cursor: pointer;
}

.Topic-Modal-color {
  list-style: none;
  margin-bottom: 10px;
}

.Topic-Modal-color {
  position: relative;
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  gap: 10px;
  height: 30px;
  width: 30px;
  font-size: 16px;
}

.inner-circle {
  display: block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  text-align: center;
}

.check {
  display: none;
}

.Error-Message {
  color: red;
}

@keyframes modalfadein {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 1024px) {
}
/* @media (min-width: 1024px) {
  .nav .nav-item:hover {
    border-radius: 9px;
    border-right: none;
  }

  .nav .nav-item:hover .tooltiptext {
    display: inline-block;
  }

  .nav .nav-item .nav-item-manage {
    list-style-type: none;
    display: none;
    min-width: 140px;
    height: 86px;
    top: 24%;
    right: 74%;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: right;
    color: black;
    line-height: 44px;
    border-radius: 5px;
    padding: 0;
  }
} */
/* Tablet */

/* @media (min-width: 740px) and (max-width: 1023px) {
  .header .header-user {
    right: 70px;
  }
  .nav .nav-item:hover {
    border-radius: 9px;
    background-color: pink;
    border-right: none;
  }
  .nav .nav-item:hover .tooltiptext {
    display: inline-block;
  }

  .header .header-user .header-user-info {
    min-width: 140px;
    height: 86px;
    top: 8%;
    left: -242%;
    text-align: left;
  }

  .nav .nav-item .nav-item-manage {
    list-style-type: none;
    display: none;
    min-width: 140px;
    height: 86px;
    top: 24%;
    right: 74%;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: right;
    color: black;
    line-height: 44px;
    border-radius: 5px;
    padding: 0;
  }
}
/* phone */

@media (max-width: 768px) {
  /* #app {
    height: calc(100% + 250px);
  } */
  /* .header .header-user {
    right: 14px;
  }

  .header .header-user-image {
    position: relative;
    width: 20px;
    height: 20px;
    transform: translateY(10%);
    z-index: 1;
  }

  .header .header-user .header-user-info {
    min-width: 120px;
    height: 86px;
    top: 8%;
    left: -452%;
    text-align: left;
  } */

  /* .nav {
    top: unset;
    bottom: 0;
    left: auto;
    right: auto;
    padding-left: 0px;
    width: 100%;
    height: 60px;
  }

  .nav .nav-items {
    flex-direction: row;
    height: 60px;
    width: 100%;
  } */

  /* .nav .nav-item {
      padding: 0 20px;
  } */

  /* .nav .nav-item:hover .tooltiptext {
      display: none;
  } */

  /* .nav .nav-item .tooltiptext {
    display: block;
    width: 60px;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    text-align: center;
    padding: 0 0;

    position: inherit;
    z-index: 1;
  }

  .nav-items a.router-link-exact-active {
    border-right: none;
    border-radius: 9px;
    background-color: pink;
  }

  .nav .nav-items .nav-item img {
    width: 25px;
    height: 25px;
  } */

  /* .Topic-Modal-container {
    position: relative;
    width: 400px;
    max-width: calc(100% - 32px);
    max-height: calc(100% - 32px);
    background-color: white;
    border-radius: 5px;
    animation: modalfadein ease 0.3s;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 26px;
    overflow-y: scroll;
    z-index: 2;
  } */

  .Topic-Modal-header {
    position: absolute;
    width: 250px;
    height: 20px;
    left: calc(50% - 250px / 2);
    top: 20px;
    text-align: center;
  }

  .Topic-Modal-header p {
    font-size: 20px;
  }

  .Topic-Modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    cursor: pointer;
    font-size: 20px;
  }

  .Topic-Modal-body {
    padding: 16px;
    margin-top: 40px;
  }

  .Topic-Modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 2px;
    text-align: left;
  }

  .Topic-Modal-input {
    width: 100%;
    height: 36px;
    font-size: 15px;
    margin-bottom: 4px;
  }

  .submit-add {
    width: 100%;
    font-size: 15px;
    padding: 8px;
    border: none;
    height: 36px;
    margin-top: 10px;
  }

  .submit-add:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  .Topic-Modal-color {
    list-style: none;
    margin-bottom: 5px;
  }

  .Topic-Modal-color {
    position: relative;
    height: 30px;
    width: fit-content;
    font-size: 16px;
  }

  .inner-circle {
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .Topic-Modal-header p {
    font-size: 17px;
  }
}
@media (max-width: 413px) {
  .Topic-Modal-color {
    grid-template-columns: repeat(10, 1fr);
  }
  .submit-add {
    margin-top: 25px;
  }
}
